.super-mario {
  width: 200px;
  position: absolute;
  top: 50px;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 120px;
  top: 310px;
}

.baloon {
  position: absolute;
  left: 260px;
  top: 50px;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 280px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 550px;
  top: 150px;
}