.navigation {
  background-color: lightgrey;
}

.navigation ul{
  list-style-type: none;
  overflow: hidden;
}

.navigation ul li{
  display: inline-block;
  margin-right: 30px;
}

.table {
  border-collapse: collapse;
  width: 40%;
}

.table td{
  border: 1px solid black;
}

.table tr td:nth-child(odd){
  background-color: lightgrey;
  width: auto;
}

#stomatopoda-boxe {
  width: 300px;
}

.footer {
  background-color: lightgrey;
}