body {
  margin: 0;
}

article {
  margin-left: 10px;
}

.headers h1 {
  justify-content: center;
  color: white;
  margin: 0px;
  
}

.navigation{
  background-color: rgb(34, 34, 206);
  text-align: center;
}

.navigation ul{
  overflow: hidden;
  padding-left: 0px;
  margin: 0;
}

.navigation ul li{
  display: inline-block;
  margin-right: 30px;
  padding: 10px;
  border: 1px transparent grey;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
}

#fatos {
  margin: 5px 0px;
}

.table {
  border-collapse: collapse;
  width: 30%;
  height: 160px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.table td{
  border: 1px solid black;
}

.table tr td:nth-child(odd){
  background-color: lightgrey;
  width: auto;
}

#olhos-stomatopoda {
  width: 260px;
  margin-left: 10px;
}

#stomatopoda-boxe {
  width: 280px;
  margin: 0;
}

.container-3 {
  position: relative;

}

.footer {
  background-color: blue;
  color: white;
  text-align: center;
}